In [6]:
# 10 * 5

a = 10
b = 5
a = 15
b = 5.3

a * b

79.5

In [5]:
s = "this is string"
print(s)
s = 'this is another string'
print(s)
s = """
multiline string
multiline string 2
"""
print(s)

this is string
this is another string

multiline string
multiline string 2

In [7]:
type(s), type(a), type(b)

(str, int, float)

In [8]:
del a
# print(a) # 오류 : 삭제된 변수 사용할 수 없음

NameError: name 'a' is not defined

In [12]:
a = 10
b = 20
c = 30

a = b = c = 100
a, b, c = 100, 200, 300

print(a, b, c)
a
b
c

100 200 300

300

In [11]:
100
200

200

In [14]:
print(0xFF)

16777215

In [16]:
a, b = 3, 4
a ** b, a * a * a * a

(81, 81)

In [17]:
7 % 3 # 7을 3으로 나누고 나머지를 계산하는 연산자

1

In [18]:
10 / 3

3.3333333333333335

In [19]:
10 // 3

3

In [21]:
"10" + "10", 10 + 10, int("10") + int("10")

('1010', 20, 20)

In [22]:
"11.11" + "11.11", 11.11 + 11.11, float("11.11") + float("11.11")

('11.1111.11', 22.22, 22.22)

In [ ]:
(10 + 20) * 30 / 40 + 50

In [24]:
"this is string"
"""this
is
string"""

'this\nis\nstring'

In [ ]:
class A:
    """
    클래스에 대한 설명
    """

In [26]:
# 문자열 -> 문자의 배열 (문자의 집합)

"abc" * 2, [10, 20, 30] * 2

('abcabc', [10, 20, 30, 10, 20, 30])

In [1]:
 a = "Life is too short, You need Python"

In [2]:
a[0], a[12], a[-5]

('L', 's', 'y')

In [3]:
a[10:15], a[-10:-5], a[:]

('o sho', 'eed P', 'Life is too short, You need Python')

In [8]:
a = 10

print('your age ' + str(10))
print('your age %d' % a)
print('your age {0}'.format(10))

your age 10
your age 10
your age 10

In [6]:
int('10') + int('10')

20

In [11]:
print("\"first\" lines\necond line")

"first" lines
econd line

In [12]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [13]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[3])
print(a[-1][1])

1
['a', 'b', 'c']
b

In [17]:
 a = [1, 2, 3]
 a[1], a[1:2] # 범위 : 시작(inclusive)  ~ 끝(exclusive)

(2, [2])

In [20]:
 # a[1] =  ['a', 'b', 'c']
 a[1:2] = ['a', 'b', 'c']

In [21]:
a

[1, 'a', 'b', 'c', 3]

In [22]:
t4 = 1, 2, 3

In [23]:
type(t4)

tuple

In [24]:
t4[0] = 100

TypeError: 'tuple' object does not support item assignment

In [25]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [27]:
dic['name'], dic['phone'], dic['birth']

('pey', '0119993323', '1118')

In [29]:
dic.keys(), dic.values(), dic.items()

(dict_keys(['name', 'phone', 'birth']),
 dict_values(['pey', '0119993323', '1118']),
 dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]))

In [31]:
'pey' in dic, 'name' in dic

(False, True)

In [36]:
# dic['email']
dic.get('email'), dic.get('name'), dic.get('email', 'no email')

(None, 'pey', 'no email')