In [2]:
# var1 = True 
var1 = 100 # 0이 아닌 숫자 -> True
if var1:
    print ("1 - Got a true expression value")
    print (var1)

# var2 = False 
var2 = 0 # 0 -> False
if var2:
    print ("2 - Got a true expression value")
    print (var2)
    
print ("Good bye!")

1 - Got a true expression value
100
Good bye!

In [23]:
name = input('your name ') # 사용자 입력을 받는 함수
name

'John Doe'

In [8]:
amount = input('Input Amount ')

In [12]:
amount, type(amount), int(amount)

('1000', str, 1000)

In [16]:
amount = int(amount)
if (amount < 1000):
    discount = amount * 0.05
elif (amount < 5000):
    discount = amount * 0.1
else:
    discount = amount * 0.15

print(discount)

100.0

In [17]:
1 in [1, 2, 3]

True

In [19]:
a = 100
if a < 100:
    pass

In [22]:
treeHit = 0

while treeHit < 10:
    # treeHit = treeHit + 1
    # treeHit++ : 파이썬에서는 지원하지 않는 연산자
    treeHit += 1 # --> treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

print("end of code block")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.
end of code block

In [24]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [25]:
test_list = ['one', 'two', 'three']
for idx, i in enumerate(test_list):
    print("{0} - {1}".format(idx, i))

0 - one
1 - two
2 - three

In [26]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [28]:
a = [(1,2), (3,4), (5,6)]
for t in a:
    print(t[0] + t[1])

3
7
11

In [29]:
range(10)

range(0, 10)

In [33]:
# for idx in range(10):
# for idx in range(100, 110):
for idx in range(100, 110, 2):
    print(idx)

100
102
104
106
108

In [35]:
sum = 0
for i in range(1, 11):
    # sum = sum + i
    sum += i # sum *= i, sum -= i, sum %= i

print(sum)

55

In [36]:
# [1, 2, 3, ...] -> [1, 4, 9, ...]
result = []
for x in [1, 2, 3, 4, 5]:
    result.append(x ** 2)

print(result)

[1, 4, 9, 16, 25]

In [38]:
[ x ** 2 for x in [1, 2, 3, 4, 5] ]

[1, 4, 9, 16, 25]

In [39]:
[ x ** 2 for x in [1, 2, 3, 4, 5] if x % 2 == 1 ]

[1, 9, 25]

In [40]:
result = []
for x in range(1, 5):
    for y in range(5, 10):
        result.append((x, y))

print(result)

[(1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9)]

In [41]:
[ (x, y) for x in range(1, 5)
         for y in range(5, 9) ]

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8)]

In [44]:
for x in range(1, 10):
    print(x)
    if x == 6:
        break

print("end of code block")

1
2
3
4
5
6
end of code block

In [45]:
for x in range(1, 10):
    if x % 2 == 0:
        continue # 반복문의 처음 위치로 즉시 이동
    print(x)    

print("end of code block")

1
3
5
7
9
end of code block

In [49]:
for x in range(1, 10):
    print(x)
    if x == 6:
        break
else: # loop-else : break되지 않은 경우에 실행 되는 영역
    print("in loop-else")
    
print("end of code block")

1
2
3
4
5
6
end of code block

In [50]:
for x in map(lambda x: x**2, 
             [1, 2, 3, 4, 5]):
    print(x, end=' ')

1 4 9 16 25

In [52]:
list(map(lambda x: x**2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [63]:
for n in filter(lambda x: x > 20, [15, 25, 35, 45]):
    print(n, end='\t')

25	35	45

In [54]:
list(filter(lambda x: x > 20, [15, 25, 35, 45]))

[25, 35, 45]

In [57]:
for x, y, z in zip([10, 20, 30], 
                   [40, 50, 60],
                   [70, 80, 90, 100]):
    print((x, y, z), end=' ')

(10, 40, 70) (20, 50, 80) (30, 60, 90)