In [2]:
def my_function() :
    # pass
    print('hello, python function')

In [3]:
my_function()

hello, python function

In [12]:
def add(a, b):
    result = a + b
    return result

In [13]:
add(10, 20)
result = add(10, 20)
print(result)

None

In [15]:
def my_function2():
    a = 10
    b = 20
    return a, b

In [17]:
result = my_function2()
print(result, type(result))

(10, 20) <class 'tuple'>

In [18]:
a = [1, 2, 3]

def f1():
    print(a)

f1()

[1, 2, 3]

In [22]:
a = [1, 2, 3]

def f2():
    a = [4, 5, 6]
    print("1 : ", a)

f2()
print("2 : ", a)

1 :  [4, 5, 6]
2 :  [1, 2, 3]

In [26]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [28]:
say_myself('john doe', 30)
say_myself('jane doe', 25, False)

나의 이름은 john doe 입니다.
나이는 30살입니다.
남자입니다.
나의 이름은 jane doe 입니다.
나이는 25살입니다.
여자입니다.

In [29]:
 def sum_many(*args): # *args : 여러 개의 전달인자를 모아서 리스트로 변환한 전달인자
    sum = 0
    for i in args:
        sum = sum + i
    return sum

In [32]:
print( sum_many(10, 20) )
print( sum_many(10, 20, 30) )
print( sum_many(10, 20, 30, 40) )

data = [10, 20, 30, 40, 50, 60, 70]
# print( sum_many(data) )
print( sum_many(*data) ) # *data : 리스트를 풀어서 낱개의 전달인자로 변환 ( [1, 2, 3] -> 1, 2, 3 )

30
60
100
280

In [33]:
def f3(a, b, c):
    print(a, b, c)

In [36]:
f3(1, 2, 3)
f3(a = 1, b = 2, c = 3)
f3(c = 1, a = 2, b = 3)

1 2 3
1 2 3
2 3 1

In [1]:
def var_args_func(**dict_data): # **dict_data : a = 10, b = 20, ... 등의 전달인자를 모아서 딕셔너리로 변환한 전달인자 
    for key, item in dict_data.items():
        print( (key, item), end=' ' )
    print()

In [2]:
var_args_func(a = 10, b = 20, c = 30, d = 40)
var_args_func(x = 10, y = 20, z = 30)

('a', 10) ('b', 20) ('c', 30) ('d', 40)
('x', 10) ('y', 20) ('z', 30)

In [4]:
data = { 'a' : 100, 'b' : 200, 'c' : 300, 'd' : 400, 'e' : 500 }
var_args_func(**data) # **data : 딕셔너리를 풀어서 낱개의 명명된 전달인자로 변경

('a', 100) ('b', 200) ('c', 300) ('d', 400) ('e', 500)

In [6]:
a = 1
def vartest(a):
    a = a +1
    print('in f : ', a)


vartest(a)
print(a)

in f :  2
1

In [7]:
a = 1
def vartest():
    global a # a변수는 함수 지역 변수가 아니고 외부 전역 변수를 참조합니다.
    a = a+1

vartest()
print(a)

2

In [8]:
def squared(x):
    return x**2

a = [1, 2, 3, 4, 5]
a2 = map(squared, a)

for d in a2:
    print(d, end=' ')

1 4 9 16 25

In [9]:
a = [1, 2, 3, 4, 5]
a2 = map(lambda x: x**2, a)

for d in a2:
    print(d, end=' ')

1 4 9 16 25

In [10]:
a = [1, 2, 3, 4, 5]
a2 = filter(lambda x: x % 2 == 0, a)

for d in a2:
    print(d, end=' ')

2 4

In [11]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [13]:
def my_func():
    """
    이 함수는 문서 주석 테스트를 위해 만든 함수입니다.
    """
    pass

my_func.__doc__

'\n    이 함수는 문서 주석 테스트를 위해 만든 함수입니다.\n    '

In [14]:
it = iter([1, 2, 3, 4, 5])
next(it), next(it), next(it), next(it), next(it)

(1, 2, 3, 4, 5)

In [16]:
def my_generator(p):
    for i in p:
        yield i # return 의 일종 (호출한 곳으로 값을 반환하고 대기))

mg = my_generator([1, 2, 3, 4, 5])
print( next(mg), next(mg), next(mg), next(mg), next(mg) )

for x in my_generator([1, 2, 3, 4, 5]):
    print(x, end=' ')

1 2 3 4 5
1 2 3 4 5