In [1]:
# !pip install pymysql

Collecting pymysql
  Using cached PyMySQL-0.10.1-py2.py3-none-any.whl (47 kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.10.1

In [2]:
import pymysql

In [3]:
conn = pymysql.connect(host='localhost', user='ssac', password='ssac', db='employees', charset='utf8')

In [4]:
cursor = conn.cursor() # cursor : 명령을 전달하고 결과를 수신하는 도구

In [6]:
sql = "SELECT emp_no, first_name, last_name FROM employees LIMIT 10"
cursor.execute(sql) # 명령 실행

10

In [7]:
rows = cursor.fetchall() # 명령 실행 결과를 읽어서 객체에 저장

In [9]:
for row in rows:
    print(type(row), row)

<class 'tuple'> (10001, 'Georgi', 'Facello')
<class 'tuple'> (10002, 'Bezalel', 'Simmel')
<class 'tuple'> (10003, 'Parto', 'Bamford')
<class 'tuple'> (10004, 'Chirstian', 'Koblick')
<class 'tuple'> (10005, 'Kyoichi', 'Maliniak')
<class 'tuple'> (10006, 'Anneke', 'Preusig')
<class 'tuple'> (10007, 'Tzvetan', 'Zielinski')
<class 'tuple'> (10008, 'Saniya', 'Kalloufi')
<class 'tuple'> (10009, 'Sumant', 'Peac')
<class 'tuple'> (10010, 'Duangkaew', 'Piveteau')

In [10]:
conn.close()

In [12]:
connection_info = { 'host': 'localhost', 'user': 'ssac', 'password': 'ssac', 'db': 'employees', 'charset': 'utf8' }

In [22]:
# conn = pymysql.connect(host='localhost', user='ssac', password='ssac', db='employees', charset='utf8')
conn = pymysql.connect(**connection_info)

cursor = conn.cursor() # cursor : 명령을 전달하고 결과를 수신하는 도구

sql = "INSERT INTO employees VALUES (500005, '1990-12-11', 'JOHN', 'DOE', 'M', '2011-01-01')"
cursor.execute(sql) # 명령 실행
conn.commit() # 지금까지 실행한 명령을 확정

conn.close()

In [17]:
conn.close()

In [23]:
conn = pymysql.connect(**connection_info)

cursor = conn.cursor() # cursor : 명령을 전달하고 결과를 수신하는 도구

sql = "CREATE TABLE mytable( idx int primary key auto_increment, info varchar(100) not null)"
cursor.execute(sql) # 명령 실행
conn.commit() # 지금까지 실행한 명령을 확정

conn.close()

In [26]:
new_name = input('새 이름을 입력하세요: ')
emp_no = 500005

conn = pymysql.connect(**connection_info)

cursor = conn.cursor() # cursor : 명령을 전달하고 결과를 수신하는 도구

# sql = "UPDATE employees SET first_name = '" + new_name + "' WHERE emp_no = 500002' 
sql = "UPDATE employees SET first_name = %s WHERE emp_no = %s"
cursor.execute(sql, (new_name, emp_no)) # 명령 실행
conn.commit() # 지금까지 실행한 명령을 확정

conn.close()