In [2]:
# !pip install bs4
# !pip install finance-datareader

In [4]:
import FinanceDataReader as fdr

In [11]:
krx_data = fdr.StockListing('KRX')

In [12]:
krx_data.head(10)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
6,027410,KOSPI,BGF,기타 금융업,지주회사,2014-05-19,12월,홍정국,http://www.bgf.co.kr,서울특별시
7,282330,KOSPI,BGF리테일,종합 소매업,체인화 편의점,2017-12-08,12월,이건준,http://www.bgfretail.com,서울특별시
8,138930,KOSPI,BNK금융지주,기타 금융업,금융지주회사,2011-03-30,12월,김지완,http://www.bnkfg.com,부산광역시
9,001460,KOSPI,BYC,봉제의복 제조업,"메리야스,란제리 제조,도매/건축공사/부동산 임대,분양,공급",1975-06-02,12월,고 윤 성,http://home.byc.co.kr,서울특별시

In [13]:
fdr.DataReader('060310')

            Open  High   Low  Close   Volume    Change
Date
2002-04-23  3316  3316  3316   3315   545120       NaN
2002-04-24  3652  3714  3382   3712   703615  0.119759
2002-04-25  4158  4158  3268   3817  3843510  0.028287
2002-04-26  3731  3820  3361   3360   880555 -0.119728
2002-04-29  2968  3142  2959   2959   696940 -0.119345
...          ...   ...   ...    ...      ...       ...
2020-12-15  2195  2195  2155   2185   139561  0.000000
2020-12-16  2195  2430  2180   2370  2909662  0.084668
2020-12-17  2425  2425  2290   2330   587914 -0.016878
2020-12-18  2335  2355  2225   2295   374375 -0.015021
2020-12-21  2250  2350  2250   2275   100763 -0.008715

[4617 rows x 6 columns]