In [2]:
# !pip install bs4
# !pip install finance-datareader

In [4]:
import FinanceDataReader as fdr

In [11]:
krx_data = fdr.StockListing('KRX')

In [12]:
krx_data.head(10)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
6,027410,KOSPI,BGF,기타 금융업,지주회사,2014-05-19,12월,홍정국,http://www.bgf.co.kr,서울특별시
7,282330,KOSPI,BGF리테일,종합 소매업,체인화 편의점,2017-12-08,12월,이건준,http://www.bgfretail.com,서울특별시
8,138930,KOSPI,BNK금융지주,기타 금융업,금융지주회사,2011-03-30,12월,김지완,http://www.bnkfg.com,부산광역시
9,001460,KOSPI,BYC,봉제의복 제조업,"메리야스,란제리 제조,도매/건축공사/부동산 임대,분양,공급",1975-06-02,12월,고 윤 성,http://home.byc.co.kr,서울특별시

In [14]:
len(krx_data)

2606

In [13]:
fdr.DataReader('060310')

            Open  High   Low  Close   Volume    Change
Date
2002-04-23  3316  3316  3316   3315   545120       NaN
2002-04-24  3652  3714  3382   3712   703615  0.119759
2002-04-25  4158  4158  3268   3817  3843510  0.028287
2002-04-26  3731  3820  3361   3360   880555 -0.119728
2002-04-29  2968  3142  2959   2959   696940 -0.119345
...          ...   ...   ...    ...      ...       ...
2020-12-15  2195  2195  2155   2185   139561  0.000000
2020-12-16  2195  2430  2180   2370  2909662  0.084668
2020-12-17  2425  2425  2290   2330   587914 -0.016878
2020-12-18  2335  2355  2225   2295   374375 -0.015021
2020-12-21  2250  2350  2250   2275   100763 -0.008715

[4617 rows x 6 columns]

In [20]:
kospi = fdr.DataReader('KS11', '20201221')
# kospi.tail(5)
kospi.values[0][0]

2778.65

In [16]:
kosdaq = fdr.DataReader('KQ11', '20201201')
kosdaq.tail(5)

             Close    Open    High     Low        Volume  Change
Date
2020-12-15  931.27  930.73  934.30  921.27  2.100000e+09  0.0019
2020-12-16  939.65  932.41  941.45  932.41  2.000000e+09  0.0090
2020-12-17  944.04  938.88  948.43  938.88  2.650000e+09  0.0047
2020-12-18  947.24  945.81  948.59  942.46  2.110000e+09  0.0034
2020-12-21  954.19  948.64  954.34  940.98  1.880000e+06  0.0073

In [21]:
dowjones = fdr.DataReader('DJI', '20201201')
dowjones.tail(5)

               Close      Open      High       Low       Volume  Change
Date
2020-12-14  29861.55  30123.91  30325.79  29849.15  371980000.0 -0.0062
2020-12-15  30199.31  29919.09  30243.26  29894.95  419480000.0  0.0113
2020-12-16  30154.54  30191.38  30236.03  30080.11  349540000.0 -0.0015
2020-12-17  30303.37  30216.00  30323.78  30216.00  345530000.0  0.0049
2020-12-18  30179.05  30314.26  30343.59  30029.44  798230000.0 -0.0041

In [1]:
import FinanceDataReader as fdr

In [2]:
krx_data = fdr.StockListing("KRX")

In [3]:
krx_data.head(5)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [4]:
krx_data.to_csv('stocks-master.csv', index=False) # dataframe -> csv

In [7]:
import csv
import re

with open('stocks-masterstocks_master = [].csv', encoding="utf-8") as f:
    reader = csv.reader(f)
    header = next(reader)
    for line in reader:
        line[6] = re.sub(r'[^0-9]', '', line[6]) # [6]번째 데이터에서 숫자가 아닌 문자 제거 : 03월 -> 03
        stocks_master.append(line)

In [9]:
stocks_master[1]

['095570',
 'KOSPI',
 'AJ네트웍스',
 '산업용 기계 및 장비 임대업',
 '렌탈(파렛트, OA장비, 건설장비)',
 '2015-08-21',
 '12',
 '이현우',
 'http://www.ajnet.co.kr',
 '서울특별시']

In [10]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'Pa$$w0rd', 'db': 'dashboarddb', 'charset': 'utf8' }
        
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

sql = 'DELETE FROM stocks_stockmaster'
cursor.execute(sql)

sql = 'INSERT INTO stocks_stockmaster VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
cursor.executemany(sql, stocks_master) # executemany : 여러 개의 데이터를 한 번에 일괄 삽입

conn.commit()

conn.close()